<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'test_map/css/styles.css' %}" />
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=dhcm0x7yke"></script>
    <script type="text/javascript" src="{% static 'test_map/js/map.js' %}"></script>
    <script type="text/javascript" src="{% static 'test_map/js/map-controls.js' %}"></script>
    <script type="text/javascript" src="{% static 'test_map/js/scripts.js' %}"></script>
</head>
<body>
    <div id="map" style="width:100%;height:400px;"></div>
    <div>
        <button onclick="panEast()">동쪽으로 이동</button>
        <button onclick="panWest()">서쪽으로 이동</button>
        <button onclick="panSouth()">남쪽으로 이동</button>
        <button onclick="panNorth()">북쪽으로 이동</button>
    </div>
    <div>
        <button onclick="zoomIn()">확대</button>
        <button onclick="zoomOut()">축소</button>
    </div>
    <div>
        <button onclick="zoomMax()">최대</button>
        <button onclick="zoomMin()">최소</button>
    </div>
    <div>
        <button onclick="setCenter(127.0374, 37.4999)">역삼동으로</button>
        <button onclick="setCenter(127.0565, 37.5140)">삼성동으로</button>
        <button onclick="setCenter(127.0611, 37.4995)">대치동으로</button>
    </div>
    <div>
        <button onclick="drawCenterMarker(map)">지도 가운데에 마커 찍기</button>
    </div>
    <div>
        <button onclick="getPoints()">저장된 점들 가져오기</button>
        <button onclick="sendSelectedPointsToServer()">지정한 지점 저장</button>
        <button onclick="reset()">마커 다 지우기</button>
    </div>
</body>
</html>